/* @font-face {
    font-family: "iner";
    src: url("/font/iner.otf");
} */

* {
    box-sizing: border-box;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    position: block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    background-color: rgb(5, 43, 78);
    margin: 100px 0 100px 0;
    padding: 0;
}

/* navbar */
.navbar-brand {
    font-family: "iner";
    font-size: 25px;
}
.nav-link {
    color: rgb(47, 135, 108);
}
.navbar {
    border-bottom: solid 2px rgb(174, 66, 26);
}
/* footer */
.footer-area {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: white;
    color: black;
    padding: 20px;
    border-top: solid 2px rgb(174, 66, 26);
}

/* main konten */
.link a {
    width: 80%;
}

.active {
    color: rgb(8, 85, 140);
    font-weight: bold;
    font-style: italic;
}

.form {
    width: 80%;
}

.select2-results {
    color: black;
}

/* datatables */
.dataTables_info {
    color: white;
    visibility: hidden;
}

.dataTables_length {
    visibility: hidden;
    color: white;
}
/* .dataTables_length select {
    color: white;
}
.dataTables_length select option {
    color: black;
} */

.dataTables_filter {
    color: white;
    margin-bottom: 10px;
}
.dataTables_filter input {
    color: white;
    background-color: grey;
}

.dataTables_paginate {
    color: white;
}

/* other / custom */
input[type="text"]:disabled {
    background-color: rgb(191, 190, 190);
}

.btn-two {
    background-color: rgb(47, 135, 108);
    color: white;
}
.btn-two:focus,
.btn-two:hover {
    background-color: rgb(0, 89, 62);
    color: white;
}

/* seukuran hp */
@media only screen and (max-width: 768px) {
    .fr {
        font-size: 16px;
    }
    .table {
        font-size: 12px;
    }

    body {
        font-size: 12px;
    }
}
